.infoItem {
  p {
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);

    span,
    a {
      font-weight: 400;
      color: var(--text-black-700);
      margin-left: 4px;

      @media (max-width: 1199px) {
        display: block;
        margin-left: 0;
      }
    }

    a {
      text-decoration: underline;
    }
  }
}
