.content {
  margin: 0 0.9375rem;

  .text {
    margin-bottom: 2.5rem;

    h3 {
      font-size: 1.5rem;
      margin-bottom: 0.9375rem;
      font-weight: 700;
      color: var(--text-black-900);

      span {
        color: var(--skin-color);
      }
    }

    p {
      font-size: 1rem;
      line-height: 1.5625rem;
      color: var(--text-black-700);
    }
  }

  .row {
    display: flex;

    @media (max-width: 768px) {
      display: initial;
    }

    .info {
      width: 60%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      max-height: 8.4375rem;

      @media (max-width: 768px) {
        max-height: initial;
        margin-bottom: 1.875rem;
      }

      @media (max-width: 991px) {
        width: 100%;
      }

      @media (max-width: 544px) {
        display: flex;
        flex-direction: column;
      }

      .buttons {
        width: max-content;
        margin-top: 1.875rem;

        @media (max-width: 544px) {
          width: 100%;
        }

        a {
          margin-right: 0.9375rem;

          @media (max-width: 544px) {
            width: 100%;
            margin-right: 0;

            &:nth-child(2) {
              margin-top: 0.9375rem;
            }
          }
        }

        @media (max-width: 544px) {
          flex-wrap: wrap;
        }
      }
    }

    .skills {
      width: 40%;
      padding-left: 1.875rem;

      @media (max-width: 768px) {
        width: initial;
        padding-left: 0;
      }

      .row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: end;
        gap: 1.125rem;

        @media (min-width: 2000px) {
          grid-template-columns: repeat(8, 1fr);
        }

        @media (max-width: 991px) {
          grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 768px) {
          grid-template-columns: repeat(4, 1fr);
        }
      }
    }
  }

  .education {
    margin-right: 0.9375rem;
  }

  .education,
  .experience {
    width: 50%;
    margin-top: 1.875rem;

    @media (max-width: 768px) {
      width: 100%;
    }

    .title {
      margin: 0 0 1.875rem 0;
      font-size: 1.5rem;
      font-weight: 700;
    }

    .timeline {
      width: 100%;
      background-color: var(--bg-black-100);
      padding: 1.875rem 0.9375rem;
      border: 0.0625rem solid var(--bg-black-50);
      border-radius: 0.625rem;
      position: relative;
      box-shadow: 0 0 1.25rem rgba(48, 46, 77, 0.15);
    }
  }
}
