.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 60px 0 70px 0;

  .row {
    .title {
      flex: 0 0 100%;
      max-width: 100%;
      margin: 0 15px 60px 15px;

      h2 {
        font-size: 40px;
        color: var(--text-black-900);
        font-weight: 700;
        position: relative;

        &::before {
          content: "";
          height: 4px;
          width: 50px;
          background-color: var(--skin-color);
          position: absolute;
          top: 100%;
          left: 0;
        }

        &::after {
          content: "";
          height: 4px;
          width: 25px;
          background-color: var(--skin-color);
          position: absolute;
          top: 100%;
          left: 0;
          margin-top: 8px;
        }
      }
    }

    .content {
      margin: 0 15px;

      .text {
        margin-bottom: 40px;

        h3 {
          font-size: 24px;
          margin-bottom: 15px;
          font-weight: 700;
          color: var(--text-black-900);

          span {
            color: var(--skin-color);
          }
        }

        p {
          font-size: 16px;
          line-height: 25px;
          color: var(--text-black-700);
        }
      }

      .row {
        display: flex;
        .info {
          flex: 0 0 60%;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          max-height: 135px;

          .infoItem {
            p {
              font-weight: 600;
              padding: 10px 0;
              font-size: 16px;
              color: var(--text-black-900);
              border-bottom: 1px solid var(--bg-black-50);

              span,
              a {
                font-weight: 400;
                color: var(--text-black-700);
                margin-left: 4px;
              }

              a {
                text-decoration: underline;
              }
            }
          }

          .buttons {
            display: flex;
            margin-top: 30px;
            button {
              margin-right: 15px;
            }
          }
        }

        .skills {
          flex: 0 0 40%;
          padding-left: 15px;

          .row {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 50px;

            .skillItem {
              margin-bottom: 25px;
              h5 {
                line-height: 40px;
                font-weight: 600;
                font-size: 16px;
                color: var(--text-black-900);
                text-transform: capitalize;
              }

              .progress {
                background-color: var(--bg-black-50);
                height: 7px;
                border-radius: 4px;
                width: 100%;
                position: relative;
              }

              .progressIn {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                border-radius: 4px;
                background-color: var(--skin-color);
              }

              .percentage {
                position: absolute;
                right: 0;
                color: var(--text-black-900);
                top: -40px;
                font-weight: 400;
                line-height: 40px;
              }
            }
          }
        }
      }

      .education,
      .experience {
        flex: 0 0 50%;
        margin-top: 30px;

        .title {
          margin: 0 0 30px 0;
          font-size: 24px;
          font-weight: 700;
        }
      }
    }
  }
}
