.button {
  font-size: 16px;
  font-family: var(--first-font);
  font-weight: 600;
  padding: 12px 35px;
  background-color: var(--skin-color);
  border: none;
  color: #fff;
  border-radius: 40px;
  transition: all 0.3s ease;
  display: inline-block;
  text-align: center;


  &:hover {
    transform: scale(1.05);
  }
}
