.button {
  font-size: 1rem;
  font-family: var(--first-font);
  font-weight: 600;
  padding: 0.75rem 2.1875rem;
  background-color: var(--skin-color);
  border: none;
  color: #fff;
  border-radius: 2.5rem;
  transition: all 0.3s ease;
  display: inline-block;
  text-align: center;


  &:hover {
    transform: scale(1.05);
  }
}
