.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  margin: 0 15px;

  .row {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    .info {
      width: 60%;

      @media (max-width: 991px) {
        width: 100%;
      }

      .hello {
        font-size: 28px;
        margin: 15px 0;

        span {
          font-family: var(--second-font);
          font-size: 30px;
          font-weight: 700;
          color: var(--skin-color);
        }
      }

      .profession {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-size: 30px;

        p {
          font-size: 30px;
          margin: 0 10px 0 0;
        }

        @media (max-width: 600px) {
          p {
            margin-right: 10px;
          }
        }

        .job {
          color: var(--skin-color);
        }
      }

      p {
        margin: 15px 0 70px 0;
        font-size: 20px;
        color: var(--text-black-700);
      }
    }

    .photo {
      width: 40%;
      padding-left: 15px;
      display: flex;
      justify-content: center;
      position: relative;

      @media (max-width: 991px) {
        display: none;
      }

      &::after {
        content: "";
        position: absolute;
        border-bottom: 10px solid var(--skin-color);
        border-right: 10px solid var(--skin-color);
        height: 80px;
        width: 80px;
        right: 20px;
        bottom: -40px;
      }

      &::before {
        content: "";
        position: absolute;
        border-top: 10px solid var(--skin-color);
        border-left: 10px solid var(--skin-color);
        height: 80px;
        width: 80px;
        left: 35px;
        top: -40px;
      }

      img {
        width: 70%;
        object-fit: cover;
        object-position: top;
        height: 400px;
        border-radius: 5px;
      }
    }
  }
}
