.container {
  max-width: 75rem;
  width: 100%;
  margin: auto;
  margin: 0 0.9375rem;

  .row {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    .info {
      width: 60%;

      @media (max-width: 991px) {
        width: 100%;
      }

      .hello {
        font-size: 1.75rem;
        margin: 0.9375rem 0;

        span {
          font-family: var(--second-font);
          font-size: 1.875rem;
          font-weight: 700;
          color: var(--skin-color);
        }
      }

      .profession {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-size: 1.875rem;

        p {
          font-size: 1.875rem;
          margin: 0 0.625rem 0 0;
        }

        @media (max-width: 600px) {
          p {
            margin-right: 0.625rem;
          }
        }

        .job {
          color: var(--skin-color);
        }
      }

      p {
        margin: 0.9375rem 0 4.375rem 0;
        font-size: 1.25rem;
        color: var(--text-black-700);
      }
    }

    .photo {
      width: 40%;
      padding-left: 0.9375rem;
      display: flex;
      justify-content: center;
      position: relative;

      @media (max-width: 991px) {
        display: none;
      }

      &::after {
        content: "";
        position: absolute;
        border-bottom: 0.625rem solid var(--skin-color);
        border-right: 0.625rem solid var(--skin-color);
        height: 5rem;
        width: 5rem;
        right: 1.25rem;
        bottom: -2.5rem;
      }

      &::before {
        content: "";
        position: absolute;
        border-top: 0.625rem solid var(--skin-color);
        border-left: 0.625rem solid var(--skin-color);
        height: 5rem;
        width: 5rem;
        left: 2.1875rem;
        top: -2.5rem;
      }

      img {
        width: 70%;
        object-fit: cover;
        object-position: top;
        height: 27.0625rem;
        border-radius: 0.3125rem;
      }
    }
  }
}
