.contactItem {
  padding: 0 15px;
  text-align: center;
  margin-bottom: 60px;

  .icon {
    i {
      font-size: 25px;
      color: var(--skin-color);
    }
  }

  h4 {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    margin: 15px 0 5px;
  }

  p {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
  }

  a {
    color: var(--text-black-700);

    &:hover {
      text-decoration: underline;
    }
  }
}
