.portfolioItem {
  padding: 0 15px;
  position: relative;

  .inner {
    max-height: 270px;
    height: 100%;
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    border: 6px solid var(--bg-black-100);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
    animation: shadowPulse 1.5s infinite alternate;

    &:hover {
      transform: scale(1.05);
    }

    img {
      width: 100%;
      height: 270px;
      object-fit: cover;
      object-position: top;
    }
  }
}

@keyframes shadowPulse {
  0% {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.8);
  }
  100% {
    box-shadow: 0 0 30px rgba(48, 46, 77, 0.10);
  }
}
