.portfolioItem {
  padding: 0 15px;

  .inner {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    border: 6px solid var(--bg-black-100);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}
