.title {
  width: 100%;
  margin: 0 15px 60px 15px;

  h2 {
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;

    &::before {
      content: "";
      height: 4px;
      width: 50px;
      background-color: var(--skin-color);
      position: absolute;
      top: 100%;
      left: 0;
    }

    &::after {
      content: "";
      height: 4px;
      width: 25px;
      background-color: var(--skin-color);
      position: absolute;
      top: 100%;
      left: 0;
      margin-top: 8px;
    }
  }
}