.title {
  width: 100%;
  margin: 0 0.9375rem 3.75rem 0.9375rem;

  h2 {
    font-size: 2.5rem;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;

    &::before {
      content: "";
      height: 0.25rem;
      width: 3.125rem;
      background-color: var(--skin-color);
      position: absolute;
      top: 100%;
      left: 0;
    }

    &::after {
      content: "";
      height: 0.25rem;
      width: 1.5625rem;
      background-color: var(--skin-color);
      position: absolute;
      top: 100%;
      left: 0;
      margin-top: 0.5rem;
    }
  }
}