.logo {
  position: absolute;
  top: 50px;
  font-size: 30px;
  text-transform: capitalize;

  a {
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      border-bottom: 5px solid var(--skin-color);
      border-left: 5px solid var(--skin-color);
      bottom: 0;
      left: 0;
    }

    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      border-top: 5px solid var(--skin-color);
      border-right: 5px solid var(--skin-color);
      top: 0;
      right: 0;
    }
  }

  span {
    font-family: var(--second-font);
    font-size: 40px;
  }
}
