body {
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--first-font);
}

body.dark {
  --bg-black-900: #151515;
  --bg-black-100: #222222;
  --bg-black-50: #393939;
  --text-black-900: #ffffff;
  --text-black-700: #e9e9e9;
}

.mainContainer {
  padding-left: 270px;
}

@media (max-width: 1199px) {
  .mainContainer {
    padding-left: 0;
  }
}

.containerSection {
  display: flex;
  min-height: 100vh;
  background-color: var(--bg-black-900);
  color: var(--text-black-900);
  padding: 0 30px;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 60px 0 70px 0;
}

.animeLeft {
  transform: translateX(-40px);
  opacity: 0;
  /* O forwards faz com que a animação permaneça no estado final */
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  /* Está definindo o estado inicial da animação, ou seja, o estado que o elemento se encontra antes de iniciar a animação. */
  to {
    transform: initial;
    opacity: initial;
  }
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  text-align: right;
  transition: all 0.3s ease;
}

.color1 {
  background-color: #ec1839;
}

.color2 {
  background-color: #fa5b0f;
}

.color3 {
  background-color: #37b182;
}

.color4 {
  background-color: #1854b4;
}

.color5 {
  background-color: #f021b2;
}
