body {
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--first-font);
}

.mainContainer {
  padding-left: 270px;
}

.containerSection {
  display: flex;
  min-height: 100vh;
  background-color: var(--bg-black-900);
  color: var(--text-black-900);
  padding: 0 30px;
}

.container {
  max-width: 1200px;
  width: 100%;
  // margin: auto;
  padding: 60px 0 70px 0;
}

.animeLeft {
  transform: translateX(-40px);
  opacity: 0;
  /* O forwards faz com que a animação permaneça no estado final */
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  /* Está definindo o estado inicial da animação, ou seja, o estado que o elemento se encontra antes de iniciar a animação. */
  to {
    transform: initial;
    opacity: initial;
  }
}

.title {
  width: 100%;
  margin: 0 15px 60px 15px;

  h2 {
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;

    &::before {
      content: "";
      height: 4px;
      width: 50px;
      background-color: var(--skin-color);
      position: absolute;
      top: 100%;
      left: 0;
    }

    &::after {
      content: "";
      height: 4px;
      width: 25px;
      background-color: var(--skin-color);
      position: absolute;
      top: 100%;
      left: 0;
      margin-top: 8px;
    }
  }
}
