body {
  font-size: 1rem;
  line-height: 1.5;
  font-family: var(--first-font);

  ::-webkit-scrollbar {
    width: 0.625rem;
  }

  ::-webkit-scrollbar-track {
    background: var(--bg-black-100);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--skin-color);
    border-radius: 0.25rem;
  }

  &.dark {
    background-color: #151515;
    --bg-black-900: #151515;
    --bg-black-100: #222222;
    --bg-black-50: #393939;
    --text-black-900: #ffffff;
    --text-black-700: #e9e9e9;

    ::-webkit-scrollbar-track {
      background: var(--bg-black-100);
    }
  }

  .containerSection {
    display: flex;
    min-height: 100vh;
    background-color: var(--bg-black-900);
    color: var(--text-black-900);
    padding: 0 1.875rem;
    position: fixed;
    left: 16.875rem;
    top: 0;
    bottom: 0;
    z-index: 0;
    overflow-y: auto;
    overflow-x: none;
    transition: all 0.3s ease;

    @media (max-width: 1200px) {
      &.active {
        position: initial;
      }
    }
  }

  .error {
    text-align: end;
    color: #f31;
    font-size: 0.875rem;
    margin-top: 0.3125rem;
  }

  .container {
    width: calc(100vw - 20.625rem);
    margin: auto;
    padding: 4.375rem 0;

    @media (max-width: 1200px) {
      width: 100%;
    }
  }

  .animeLeft {
    opacity: 1;
    animation: animeLeft 1s ease;
  }

  @keyframes animeLeft {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .animeBottom {
    animation: animeBottom 1.2s forwards;
  }

  @keyframes animeBottom {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animeTop {
    animation: animeTop 1.2s forwards;
  }

  @keyframes animeTop {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-130%);
      opacity: 0;
    }
  }

  .color1 {
    background-color: #ec1839;
  }

  .color2 {
    background-color: #fa5b0f;
  }

  .color3 {
    background-color: #37b182;
  }

  .color4 {
    background-color: #1854b4;
  }

  .color5 {
    background-color: #f021b2;
  }

  .color6 {
    background-color: #ff8c69;
  }

  .color7 {
    background-color: #8b4513;
  }

  .color8 {
    background-color: #e57373;
  }

  .color9 {
    background-color: #f39c12;
  }

  .color10 {
    background-color: #6666cc;
  }
}

:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
