* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  font-family: var(--first-font);
}

::before, ::after {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
}

button {
  cursor: pointer;
}
