:root {
  --first-font: "Poppins", sans-serif;
  --second-font: "Clicker Script", cursive;
  --skin-color: #ec1839;
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfce;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
}
