.header {
  background-color: var(--bg-black-100);
  width: 270px;
  position: fixed;
  left: 0;
  top: 0;
  padding: 30px;
  height: 100%;
  z-index: 100;
  border-right: 1px solid var(--bg-black-50);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

@media (max-width: 1200px) {
  .header {
    left: -270px;

    &.active {
      left: initial;
      z-index: 999;
    }
  }
}

@media (max-width: 425px) {
  .header {
    &.active {
      width: 100%;
    }
  }
}
