.navToggle {
  height: 2.5rem;
  width: 2.8125rem;
  border: 0.0625rem solid var(--bg-black-50);
  cursor: pointer;
  position: fixed;
  left: 2.8125rem;
  top: 1.25rem;
  border-radius: 0.3125rem;
  display: none;
  background-color: var(--bg-black-100);
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;

  @media (max-width: 1200px) {
    display: flex;

    &.active {
      display: flex;
      left: 19.6875rem;

      span {
        height: 0;

        &::before {
          top: 0;
          transform: rotate(-45deg);
        }

        &::after {
          top: 0;
          transform: rotate(45deg);
        }
      }
    }
  }

  @media (max-width: 426px) {
    &.active {
      left: 80%;
    }
  }

  span {
    width: 1.125rem;
    height: 0.125rem;
    background-color: var(--skin-color);
    display: inline-block;
    position: relative;

    &::before {
      content: "";
      width: 1.125rem;
      height: 0.125rem;
      background-color: var(--skin-color);
      position: absolute;
      top: -0.375rem;
      left: 0;
    }

    &::after {
      content: "";
      width: 1.125rem;
      height: 0.125rem;
      background-color: var(--skin-color);
      position: absolute;
      top: 0.375rem;
      right: 0;
    }
  }
}
